section{
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    border: 5px dotted green;
    text-align: center;
}
*, *::before, *::after{
    box-sizing: inherit;
}
p{
    width: 100%;
    border: 5px solid blue;
    padding: 20px;
    text-align: center;
}